# BACKEND IGNORE
venv/
Server/.env
Server/media/
Server/logs/
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3

# Docker Ignore
*.dockerignore

# FRONTEND IGNORES
Client/node_modules/
Client/.pnp/
Client/.pnp.js
Client/.env
Client/coverage/
Client/build/
Client/.DS_Store

# Environment files
Client/.env.local
Client/.env.development.local
Client/.env.test.local
Client/.env.production.local

# Log files
Client/npm-debug.log*
Client/yarn-debug.log*
Client/yarn-error.log*
*.log
