#BACKEND IGNORE
venv
Server/.env


# FRONTEND IGNORES
Client/node_modules
Client/.pnp
Client/.pnp.js
Client/.env

# testing
Client/coverage

# production
Client/build

# misc
Client/.DS_Store
Client/.env.local
Client/.env.development.local
Client/.env.test.local
Client/.env.production.local

Client/npm-debug.log*
Client/yarn-debug.log*
Client/yarn-error.log*